{% extends 'base.html.twig' %}

{% block title %}{{'team.index'|trans({}, 'team')}}{% endblock %}

{% block body %}
{% include('_back_menu.html.twig') %}

<h1>{{'team.index'|trans({}, 'team')}}</h1>

<table class="table table-sm text-align-center table-striped text-center mb-5 pb-5">
    <thead class="index">
        <tr>
            <th>{{'member.photo'|trans({}, 'team')|capitalize}}</th>
            <th>{{'general.name'|trans({}, 'general')|capitalize}}</th>
            <th>{{'general.firstName'|trans({}, 'general')|capitalize}}</th>
            <th>{{'member.role.label'|trans({}, 'team')|capitalize}}</th>
            <th>{{'member.email'|trans({}, 'team')|capitalize}}</th>
            <th><a href="{{ path('team_new') }}">{{'general.create'|trans({}, 'general')|capitalize}}</a></th>
        </tr>
    </thead>
    <tbody class="index">
        {% for team in teams %}
        <tr>
            <td><img class="memberPhoto" src="{{ asset('images/uploads/memberPhoto/' ~ team.photo.name) }}"></td>
            <td>{{ team.name }}</td>
            <td>{{ team.firstName }}</td>
            <td>{{ ('member.role.' ~ team.role)|trans({}, 'team')|capitalize}}</td>
            <td>{{ team.email }}</td>
            <td>
                <a class="badge badge-primary my-2 p-2"
                    href="{{ path('team_edit', {'id': team.id}) }}">{{'general.edit'|trans({}, 'general')|capitalize}}</a>
                {{ include('team/_delete_form.html.twig') }}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">{{'general.noRecords'|trans({}, 'general')|capitalize}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}