{% extends 'base.html.twig' %}

{% block title %}{{ 'team.create'|trans({}, 'team')|title }}{% endblock %}

{% block body %}
<h1>{{ 'team.create'|trans({}, 'team')|title }}</h1>

{{ include('team/_form.html.twig') }}

<a href="{{ path('team_index') }}">{{ 'general.back'|trans({}, 'general')|capitalize }}</a>
{% endblock %}