{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
    <h1>Team</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'general.name'|trans({}, 'general')|capitalize }}</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>{{ 'general.firstName'|trans({}, 'general')|capitalize }}</th>
                <td>{{ team.firstName }}</td>
            </tr>
            <tr>
                <th>{{ 'member.role.label'|trans({}, 'team')|capitalize }}</th>
                <td>{{ ('member.role.' ~ team.role)|trans({}, 'team')|capitalize }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img class="memberPhoto" src="{{ asset('images/uploads/memberPhoto/' ~ team.photo.name) }}"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ team.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('team_index') }}">{{'general.back'|trans({}, 'general')|capitalize}}</a>

    <a href="{{ path('team_edit', {'id': team.id}) }}">{{'general.edit'|trans({}, 'general')|capitalize}}</a>

    {{ include('team/_delete_form.html.twig') }}
{% endblock %}
