{% extends 'base.html.twig' %}

{% block title %}{{'event.index'|trans({}, 'event')|title}}{% endblock %}

{% block body %}
    <h1>{{'event.index'|trans({}, 'event')|title}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{'general.name'|trans({}, 'general')|capitalize}}</th>
                <th>Descritption</th>
                <th>{{'event.start'|trans({}, 'event')|capitalize}}</th>
                <th>{{'event.end'|trans({}, 'event')|capitalize}}</th>
                <th>{{'event.hours'|trans({}, 'event')|capitalize}}</th>
                <th>{{'event.prog.PDF'|trans({}, 'event')|capitalize}}</th>
                <th>{{'event.prog.image'|trans({}, 'event')|capitalize}}</th>
                <th><a href="{{ path('event_new') }}">{{'general.create'|trans({}, 'general')|capitalize}}</a></th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.startingDate ? event.startingDate|date('Y-m-d') : '' }}</td>
                <td>{{ event.endingDate ? event.endingDate|date('Y-m-d') : '' }}</td>
                <td>{{ event.hours }}</td>
                <td><a href="{{ asset('images/uploads/eventProgram/' ~ event.programPDF.name) }}">Programme du festival</a></td>
                <td><img src="{{ asset('images/uploads/eventProgram/' ~ event.programImage.name) }}"></td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}">{{'general.show'|trans({}, 'general')|capitalize}}</a>
                    <a href="{{ path('event_edit', {'id': event.id}) }}">{{'general.edit'|trans({}, 'general')|capitalize}}</a>
                    {{ include('event/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">{{'general.noRecords'|trans({}, 'general')}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_new') }}">{{'general.create'|trans({}, 'general')|capitalize}}</a>
{% endblock %}
