{% extends 'base.html.twig' %}

{% block title %}
	{{'perf.index'|trans({}, 'perf')|title}}
{% endblock %}

{% block flashMessage %}
	<div class="index-flash-message col-12 text-center bg-white">
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="flash-{{ label }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}
{% block body %}
	<div id="adminPageTitle">
		<h1>{{'perf.index'|trans({}, 'perf')|title}}</h1>
	</div>

	{% set classDisplay = 'index' %}
	{% if performances|length <= 1  %}
		{% set classDisplay = 'oneElement' %}
	{% endif %}
	<table class="table table-sm {{classDisplay}} table-striped text-center mb-5 pb-5">
		<thead>
			<tr>
				<th>Date</th>
				<th>Heure</th>
				<th>{{'company.label'|trans({}, 'company')|capitalize}}</th>
				<th>{{'perf.show.city'|trans({}, 'perf')|capitalize}}</th>
				<th>{{'perf.show.place'|trans({}, 'perf')|capitalize}}</th>
				<th>{{'perf.show.event'|trans({}, 'perf')|capitalize}}</th>
				<th>
					<a href="{{ path('performance_new') }}">{{'general.create'|trans({}, 'general')|capitalize}}</a>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for performance in performances %}
				<tr>
					<td>{{ performance.date ? performance.date|date('d-M-Y') : '' }}</td>
					<td>{{ performance.date ? performance.date|date('H:i') : '' }}</td>
					<td>{{ performance.CompanyName}}</td>
					<td>{{ performance.cityShow }}</td>
					<td>{{ performance.placeShow }}</td>
					<td>{{ performance.event}}</td>
					<td>
						<a class="badge badge-primary my-2 p-2 text-center" href="{{ path('performance_edit', {'id': performance.id}) }}">{{'general.edit'|trans({}, 'general')|capitalize}}</a>
						{{ include('admin/performance/_delete_form.html.twig') }}
					</td>

				</tr>
			{% else %}
				<tr>
					<td colspan="8">{{'general.noRecords'|trans({}, 'general')}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
