{% extends 'back_templates/index_template.html.twig' %}

{% block title %}
	{{'company.index'|trans({}, 'company')|title}}
{% endblock %}

{% block body %}
	<div id="adminPageTitle">
		<h1>{{'company.index'|trans({}, 'company')|title}}</h1>
	</div>

	{% set classDisplay = 'index' %}
	{% if companies|length <= 2  %}
		{% set classDisplay = 'oneElement' %}
	{% endif %}
	<table class="table table-sm table-striped {{ classDisplay }} text-center h-100 mb-5 pb-5">
		<thead>
			<tr>
				<th>{{'general.image'|trans({}, 'general')|capitalize}}</th>
				<th>{{'company.name'|trans({}, 'company')|capitalize}}</th>
				<th>{{'company.hidden'|trans({}, 'company')|capitalize}}</th>
				<th>{{'company.show.title'|trans({}, 'company')|capitalize}}</th>
				<th>{{'general.description'|trans({}, 'general')|capitalize}}</th>
				<th>{{'general.theme'|trans({}, 'general')|capitalize}}</th>
				<th>{{'company.show.duration'|trans({}, 'company')|capitalize}}</th>
				<th>{{'company.show.audience'|trans({}, 'company')|capitalize}}</th>
				<th>{{'company.is.hosted?'|trans({}, 'company')|capitalize}}</th>
				<th>{{'company.hosted'|trans({}, 'company')|capitalize}}</th>
				<th>{{'general.website'|trans({}, 'general')|capitalize}}</th>
				<th>{{'general.videoLink'|trans({}, 'general')|capitalize}}</th>
				<th>{{'general.more.infos'|trans({}, 'general')|capitalize}}</th>
				<th>
					<a href="{{ path('company_new') }}" title="Ajouter une compagnie">{{'general.create'|trans({}, 'general')|capitalize}}</a>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for company in companies %}
				<tr>
					<td><img class="miniImage" src="{{ asset('images/uploads/company/' ~ company.image.name) }}" alt="{{company.imageDescription}}"></td>
					<td class="colored font-weight-bold">{{ company.name }}</td>
					<td>{{ company.isHidden ? '<i class="fas fa-check text-success"></i>' : '<i class="fas fa-times text-danger"></i>' }}</td>
					<td class="font-italic">{{ company.showTitle}}</td>
					<td>{{ company.description|slice(0,100)|raw }}...</td>
					<td>{{ company.theme}}</td>
					<td>{{ company.duration ~ ' min'}}</td>
					<td>{{ company.audience}}</td>
					<td>{{ company.isHosted ? '<i class="fas fa-check text-success"></i>' : '<i class="fas fa-times text-danger"></i>' }}</td>
					<td>
						{% if company.isHosted %}
							<p>{{ 'general.from'|trans({}, 'general')|capitalize}}{{ company.isHostedFrom ? company.isHostedFrom|format_date('medium') : '' }}</p>
							<p>{{ 'general.to'|trans({}, 'general')|capitalize}}{{ company.isHostedUntil ? company.isHostedUntil|format_date('medium'): '' }}</p>
						{% endif %}
					</td>
					<td class="text-break">{{ company.website }}</td>
					<td class="text-break">{{ company.videoLink }}</td>
					<td>{{ company.moreInfos|slice(0,100)|raw }}...</td>
					<td>
						<a class="badge badge-secondary my-2 p-2" href="{{ path('company_show', {'id': company.id}) }}" title="Voir un aperçu de la compagnie">{{'general.show'|trans({}, 'general')|capitalize}}</a>
						<a class="badge badge-primary my-2 p-2" href="{{ path('company_edit', {'id': company.id}) }}" title="Modifier une compagnie">{{'general.edit'|trans({}, 'general')|capitalize}}</a>
						{{ include('admin/company/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">{{'general.noRecords'|trans({}, 'general')|capitalize}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="pagination">
		{{ knp_pagination_render(companies) }}
	</div>
{% endblock %}
