{% extends 'base.html.twig' %}

{% block title %}
	{{'company.create'|trans({}, 'company')|title}}
{% endblock %}

{% block body %}
	<h1>{{'company.create'|trans({}, 'company')|title}}</h1>
	<div class="ml-3">
		{{ include('admin/company/_form.html.twig') }}

		<a class="badge badge-secondary p-2 mb-5" href="{{ path('company_index') }}">{{'general.back'|trans({}, 'general')|capitalize}}</a>
	</div>
{% endblock %}
