{% extends "front_templates/page_template.html.twig" %}

{% block body %}

	{% include('/front_pages/_intro_section_template.html.twig') %}

	<div class="offset-2 col-8">
		<h2 class="text-left">
			{{'general.prelude'|trans({}, 'general')|capitalize}}
		</h2>
		<div class="d-flex flex-wrap justify-content-center mb-4">
			{% for preludePerfs in festPrelude %}
				<a class="col-6 mb-2" href="{{ path('display_company', {'id': preludePerfs.company.id}) }}" title="Voir le fiche de la compagnie">
					<div class="text-left">
						<h2 class="text-decoration-none colored mb-0">{{ preludePerfs.date|format_date('full')|capitalize}}
						</h2>
						<p>{{preludePerfs.date|date('H')}}h{{preludePerfs.date|date('i')}}
							|
							{{ preludePerfs.cityShow|raw }}
							|
							{{ preludePerfs.placeShow|raw }}</p>
						<p>{{ preludePerfs.company|raw }}
							-
							{{ preludePerfs.company.showTitle|raw}}</p>
						<p>
							<span class="font-italic">
								{{preludePerfs.company.theme|raw}}
							</span>
						</p>
					</div>
				</a>
			{% endfor %}
		</div>
		<h2 class="text-left">
			{{'general.fest'|trans({}, 'general')|capitalize}}
		</h2>
		<div class="mb-3">
			{% for date in festDates %}
				<div class="mb-3 mx-3">
					<h2 class="text-decoration-none colored m-0">
						{{ date|format_date('full')|title}}
					</h2>
					{% for festPerf in festPerfs %}
						<div class="text-left">
							{% if date|format_date('full') == festPerf.date|format_date('full') %}
								<a class="m-0" href="{{ path('display_company', {'id': festPerf.company.id}) }}" title="Voir le fiche de la compagnie">
									<div class="d-flex">
										<h2 class="text-grey mr-2 mb-0 font-weight-normal">{{festPerf.date|date('H')}}h{{festPerf.date|date('i')}}</h2>
										<p>
											{{ festPerf.company|raw }}
											{% if festPerf.company.showTitle|raw %}
												-
												{{ festPerf.company.showTitle|raw}}
											{% endif %}
											-
											<span class="font-italic">
												{{festPerf.company.theme|raw|capitalize}}
											</span>
										</p>
									</div>
								</a>
							{% endif %}
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
