{% extends "front_templates/event_template.html.twig" %}

{% block title %}
	{{ event.name }}
{% endblock %}
{% block body %}
	<div class="offset-2 col-8 justify-content-between d-md-flex my-5">
		{% if event.programImage.name %}
			<div class="d-flex flex-column align-items-center my-3">
				<div class="company-image-div">
					<img class="company-frame" src="{{ asset('images/cadre.png') }}">
					<img class="company-image" src="{{asset('images/uploads/eventProgram/' ~ event.programImage.name) }}" alt="{{event.imageDescription}}">
				</div>
			</div>
		{% endif %}
		<div class="col-8 mt-4">
			{% if event.startingDate != event.endingDate and event.endingDate is defined %}
				<p>{{'from'|trans({}, 'general')|capitalize}}
					{{event.startingDate|date('d')}}
					{{'to'|trans({}, 'general')}}
					{{event.endingDate|date('d M')}}</p>
			{% elseif (event.startingDate == event.endingDate or event.endingDate is null) and event.startingDate is defined %}
				<p>{{event.startingDate|format_date('full')|title}}</p>
			{% endif %}
			<p class="mb-2">{{event.place}}</p>
			<p>{{ event.description|raw }}</p>
		</div>
	</div>

	<div class="text-center mt-5">
		{% if event.programPDF %}
			<a href="{{ asset('images/uploads/eventProgram/' ~ event.programPDF.name) }}">{{ 'event.prog.upload'|trans({}, 'event')|capitalize }}</a>
		{% endif %}
	</div>
{% endblock %}
