{% extends "front_templates/page_template.html.twig" %}


{% block body %}
	<div class=" d-none d-md-flex flex-wrap justify-content-center mb-5">
		{% for section in sections %}
			{% if section.image.name %}
				<div class="d-flex flex-column align-items-center my-3">
					<div class="cubic-image-div">
						<img class="image-frame" src="{{ asset('images/cadre.png') }}" alt="cadre noir autour de l'image">
						<img class="cubic-image" src="{{ asset('images/uploads/paragraphImage/' ~ section.image.name) }}" alt="{{section.imageDescription}}">
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="offset-md-2 col-md-8">
		{% for section in sections %}
			{% if section.name != "Chiffres" %}
				<article class="mb-3">
					{% if section.title %}
						<h3 class="font-weight-bold colored mx-0 mb-0">{{ section.title|raw|capitalize }}</h3>
					{% endif %}
					{% if section.subTitle %}
						<h3 class="mb-2 ml-0">{{ section.subTitle }}</h3>
					{% endif %}
					<div class="text-justify ul-ml mb-0">{{ section.content|raw}}</div>
				</article>
			{% else %}
				<div class=" my-5">
					<article class=" framedArticle dot p-0 px-4">
						<div class="my-1">
							{% if section.title %}
								<h3 class="font-weight-bold colored mx-0 mb-0">{{ section.title|raw|capitalize }}</h3>
							{% endif %}
							{% if section.subTitle %}
								<h3 class="mb-2">{{ section.subTitle|striptags }}</h3>
							{% endif %}
							<div class="text-justify ul-ml mb-0">{{ section.content|raw}}</div>
						</div>
					</article>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
