{% extends "front_templates/home_template.html.twig" %}

{% block body %}

	<div class="d-flex justify-content-around offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 flex-wrap">
		{% if homeEvents %}
			{% for event in homeEvents %}
				{% if event.startingDate|date('M') == 'now'|date('M') %}
					<div class="text-center col-md-6 my-3">
						<a class="element-link d-flex  flex-column justify-content-around mr-0" href="{{path('display_event',{'id':event.id})}}" title="Voir le fiche de l'événement'">
							<figure>
								<div class="cubic-image-div justify-content-center mb-0">
									<img class="image-frame" src="{{ asset('images/cadre.png') }}" alt="cadre noir entourant l'image" aria-hidden="true">
									<img src="{{asset('images/uploads/eventProgram/' ~ event.programImage.name)}}" class="cubic-image" alt="{{event.imageDescription}}">
								</div>
								<figcaption class="text-center">
									<h3 class="m-0 colored">{{event.name|raw}}</h3>
									<p class="text-decoration-none">
										{{event.startingDate|format_date(pattern='EEEE d MMMM')|title}}
									</p>
									<p class="text-grey text-center">
										{{event.place|raw}}
									</p>
								</figcaption>
							</figure>
						</a>

					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
		{% if homePerfs %}
			{% for perf in homePerfs %}
				{% if perf.date|date('M') == 'now'|date('M') %}
					<div class="text-center col-md-6 my-3">
						<a class="element-link d-flex flex-column justify-content-around mr-0" href="{{path('display_company',{'id':perf.company.id})}}" title="Voir le fiche de la compagnie">
							<figure>
								<div class="cubic-image-div justify-content-center mb-0">
									<img class="image-frame" src="{{ asset('images/cadre.png') }}" alt="cadre noir entourant l'image" aria-hidden="true">
									<img class="cubic-image" src="{{asset('images/uploads/company/' ~ perf.company.image.name)}}" alt="{{perf.company.imageDescription}}">
								</div>
								<figcaption class="text-center">
									{% if perf.event == 'Soirées du Tiers-Lieu' %}
										<h3 class="m-0 colored">{{perf.company.theme|raw}}</h3>
									{% else %}
										<h3 class="m-0 colored">{{perf.company|raw}}</h3>
									{% endif %}
									<p class="text-decoration-none text-small text-center font-weight-normal">
										{{perf.date|format_date(pattern='EEEE d MMMM')|title}}</p>
									<p class=" text-grey text-small text-center font-weight-normal">
										{{perf.cityShow|raw}}
									</p>
									<p>
										<small>{{perf.company.showTitle|raw}}</small>
									</p>
								</figcaption>
							</figure>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
		<div class="text-center col-md-6 my-3">
			<a class="element-link element-link d-flex flex-column justify-content-around mr-0" href="{{asset('images/uploads/eventProgram/' ~ season.programPDF.name)}}" title="Télécharger la plaquette de la saison">
				<figure>
					<div class="cubic-image-div justify-content-center mb-0">
						<img class="image-frame" src="{{ asset('images/cadre.png') }}" alt="cadre noir entourant l'image" aria-hidden="true">
						<img class="cubic-image" src="{{asset('images/uploads/eventProgram/' ~ season.programImage.name)}}" alt="{{season.imageDescription}}">
					</div>
					<figcaption>
						<p class="font-weight-normal">{{'general.askProg'|trans({}, 'general')|capitalize}}</p>
					</figcaption>
				</figure>

			</a>
		</div>
	</div>

	<div class=" container-fluid d-flex my-3">
		<div class="text-center col-12">
			<div>
				<div class="d-flex justify-content-center">
					<h2 class="mt-3 pageTitle px-4">
						{{'general.focusOn'|trans({}, 'general')|capitalize}}
					</h2>
				</div>
				<div>
					<img class="sectionTitleBar" src="{{asset('images/title-bar.jpg')}}" alt="barre grise" aria-hidden="true">
				</div>
			</div>
			{% for section in sections %}

				{% set homeFrame = (section.appearanceOrder is odd) ? ' framedArticle dash': 'framedArticle dot' %}

				<div class="{{ homeFrame }} offset-2 col-8 p-0 px-4 mb-4">
					<div class="text-center">
						{% if section.image.name and section.image.mimeType != 'application/pdf' %}
							<div class="d-flex">
								<img class=" col-md-4 d-none d-md-block mb-2" src=" {{asset('images/uploads/paragraphImage/' ~ section.image.name)}} " alt=" {{section.imageDescription}} ">
								<div class="col-md-8 text-left mt-2">
									<h2 class=" colored">{{ section.title|raw|capitalize }}</h2>
									<div>{{ section.content|raw }}</div>
								</div>
							</div>
						{% else %}
							<div class="my-1">
								<h2 class="mb-0 colored">{{ section.title|raw|capitalize }}</h2>
								<div>{{ section.content|raw }}</div>
								{% if section.image.name and section.image.mimeType == 'application/pdf' %}
									<a class="download-form" href="{{ asset('images/uploads/paragraphImage/' ~ section.image.name) }}" download title="Télécharger le formulaire">{{'general.download_form'|trans({}, 'general')|capitalize}}</a>
								{% endif %}
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
