{% extends "front_templates/page_template.html.twig" %}

{% block body %}

	{% include('/front/_intro_section_template.html.twig') %}

	<h1>{{'festCalendar'|trans({}, 'general')}}</h1>

	<div>
		{% for festPerf in festPerfs %}
			<a class="element-link" href="{{ path('display_company', {'id': festPerf.company.id}) }}">
				<div class="text-center my-4">
					<h3 class="text-decoration-none colored">{{ festPerf.date|format_date('full')|capitalize}}
						-
						<span class="text-dark font-weight-lighter">{{ festPerf.cityShow }}</span>
					</h3>
					<h4>{{ festPerf.company }}</h4>
					<p class="colored font-italic">{{ festPerf.company.showTitle}}
						-
						<span>{{ festPerf.company.duration}}min</span>
					</p>
				</div>
			</a>
		{% endfor %}
	</div>
{% endblock %}
