{{ form_start(form) }}
    <div class="offset-3 col-6">
        {{ form_widget(form) }}
    </div>
    <button class="btn">{{ button_label|default('Save')|trans({}, 'general') }}</button>
    <p class="text-danger">* {{'general.required'|trans({}, 'general')|capitalize}}</p>
{{ form_end(form) }}
