{% extends 'base.html.twig' %}

{% block title %}{{ section.name }}{% endblock %}

{% block body %}
    <h1>{{ section.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{'general.name'|trans({}, 'general')|capitalize}}</th>
                <td>{{ section.name }}</td>
            </tr>
            <tr>
                <th>{{'section.pageSlug'|trans({}, 'section')|capitalize}}</th>
                <td>{{ section.pageSlug }}</td>
            </tr>
            <tr>
                <th>{{'section.title'|trans({}, 'section')|capitalize}}</th>
                <td>{{ section.title }}</td>
            </tr>
            <tr>
                <th>{{'section.subTitle'|trans({}, 'section')|capitalize}}</th>
                <td>{{ section.subTitle }}</td>
            </tr>
            <tr>
                <th>{{'section.appearanceOrder'|trans({}, 'section')|capitalize}}</th>
                <td>{{ section.appearanceOrder }}</td>
            </tr>
            <tr>
                <th>{{'section.content'|trans({}, 'section')|capitalize}}</th>
                <td>{{ section.content }}</td>
            </tr>
            <tr>
                <th>{{'section.image'|trans({}, 'section')|capitalize}}</th>
                <td>{{ section.image.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('section_index') }}">{{'general.back'|trans({}, 'general')|capitalize}}</a>

    <a href="{{ path('section_edit', {'id': section.id}) }}">{{'general.edit'|trans({}, 'general')|capitalize}}</a>

    {{ include('section/_delete_form.html.twig') }}
{% endblock %}
