{% extends "front_templates/page_template.html.twig" %}

{% block body %}
	<div class="container-fluid">

		{% include('/front_pages/_intro_section_template.html.twig') %}
		{% for section in sections %}
			{% if section.name != 'intro' %}
				<section class=" d-md-flex align-items-center justify-content-between offset-lg-2 col-lg-8 mb-3">
					{% if section.image.name %}
						<div class="d-flex flex-column align-items-center my-3">
							<figure class="cubic-image-div">
								<img class="image-frame" src="{{ asset('images/cadre.png') }}" alt="cadre noir entourant l'image" aria-hidden="true">
								<img class="cubic-image" src="{{ asset('images/uploads/paragraphImage/' ~ section.image.name) }}" alt="{{section.imageDescription}}">
							</figure>
						</div>
					{% endif %}
					<article class="framedArticle red-dot h-100 mx-0">
						{% if section.title %}
							<h2 class="colored mb-2">{{ section.title|raw }}</h2>
						{% endif %}
						{% if section.subTitle %}
							<h3>{{ section.subTitle|raw }}</h3>
						{% endif %}
						<div class="text-justify ul-ml">{{ section.content|raw}}</div>
					</article>
				</section>
			{% endif %}
		{% endfor %}
	</div>
	<div class="container-fluid">

		<div class="mt-5">
			<div class="d-flex justify-content-center">
				<h1 class="my-3 pageTitle px-4">
					{{ ('front.partners')|trans({}, 'menu')}}
				</h1>
			</div>
			<div class="titleLines">
				<img class="titleBar" src="{{asset('images/title-bar.jpg')}}" alt="barre grise" aria-hidden="true">
			</div>
		</div>
		{% include('/front_pages/_intro_section_template.html.twig') %}

		<div id="partnersLogos" class="d-flex flex-wrap justify-content-around offset-2 col-8 mb-4">
			{% for partner in partners %}
				{% if partner.type == "institution" %}
					{% if partner.logo.name %}
						<div class="mb-2 mr-2">
							<a href="{{partner.website}}" title="{{partner.name}}" target="blank">
								<img class="partnerLogo" src="{{ asset('images/uploads/partnerLogo/' ~ partner.logo.name) }}" alt="{{partner.name}}">
							</a>
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		</div>

		<div class="d-flex text-center justify-content-center">
			<h2 class="mt-3 pageTitle px-4">
				{{'partner.productors'|trans({}, 'partners')|capitalize}}
			</h2>
		</div>
		<div class="text-center">
			<img class="miniTitleBar" src="{{asset('images/trait-rouge.png')}}" alt="barre rouge" aria-hidden="true">
		</div>
		<p class="offset-md-2 col-md-8">
			{% for partner in partners %}
				{% if partner.type == "prod_dist" %}
					<a href="{{partner.website}}" title="{{partner.name}}" target="blank">
						{% if loop.last %}
							{{ partner.name|raw}}
						{% else %}
							{{ partner.name ~ ' /'}}
						{% endif %}
					</a>
				{% endif %}
			{% endfor %}
		</p>
		<div class="d-flex text-center justify-content-center">
			<h2 class="mt-3 pageTitle px-4">
				{{'partner.partner'|trans({}, 'partners')|capitalize}}
			</h2>
		</div>
		<div class="text-center">
			<img class="miniTitleBar" src="{{asset('images/trait-rouge.png')}}" alt="barre rouge" aria-hidden="true">
		</div>
		<p class="offset-md-2 col-md-8">
			{% for partner in partners %}
				{% if partner.type == "partners" %}
					<a href="{{partner.website}}" title="{{partner.name}}" target="blank">
						{% if loop.last %}
							{{ partner.name|raw}}
						{% else %}
							{{ partner.name ~ ' /'}}
						{% endif %}
					</a>
				{% endif %}
			{% endfor %}
		</p>
	</div>

{% endblock %}
