{% extends "front_templates/page_template.html.twig" %}

{% block body %}
	{% include('/front_pages/_intro_section_template.html.twig') %}

	{% set bg = '' %}
	{% if page.name == 'plural-projects' %}
		{% set bg = 'bg-light' %}
	{% endif %}
	<div class="offset-2 col-8 {{ bg }} py-3 mb-3">
		{% for section in sections %}
			{% if section.name == 'top' %}
				<article class="col-12 text-center">
					{% if section.title %}
						<h3 class="colored">{{ section.title }}</h3>
					{% endif %}
					{% if section.subTitle %}
						<h5>{{ section.subTitle|lower|capitalize }}</h5>
					{% endif %}
					<p>{{ section.content|raw }}</p>
				</article>
			{% endif %}
		{% endfor %}
		<div class='d-md-flex mt-3 align-items-center justify-content-around'>
			{% for section in sections %}
				{% if section.name == 'left' %}
					<article class="framedArticle dot mb-3 col-md-6 mr-md-2">
						{% if section.title %}
							<h3 class="text-center colored">{{ section.title }}</h3>
						{% endif %}
						{% if section.subTitle %}
							<h5 class="text-center">{{ section.subTitle|lower|capitalize }}</h5>
						{% endif %}
						<p>{{ section.content|raw }}</p>
					</article>
				{% endif %}

				{% if section.name == 'right' %}
					<article class="framedArticle red-dot mb-3 col-md-6 ml-md-2">
						{% if section.title %}
							<h3 class="text-center colored">{{ section.title }}</h3>
						{% endif %}
						{% if section.subTitle %}
							<h5 class="text-center">{{ section.subTitle|lower|capitalize }}</h5>
						{% endif %}
						<p>{{ section.content|raw }}</p>
					</article>
				{% endif %}
			{% endfor %}
		</div>

		{% for section in sections %}
			{% if section.name == 'bottom' %}
				<article class="framedArticle solid offset-1 col-10 mb-3">
					{% if section.title %}
						<h3 class="text-center colored">{{ section.title }}</h3>
					{% endif %}
					{% if section.subTitle %}
						<h5 class="text-center">{{ section.subTitle|lower|capitalize }}</h5>
					{% endif %}
					<p class="text-center">{{ section.content|raw }}</p>
				</article>
			{% endif %}
		{% endfor %}
	</div>

	{% for section in sections %}
		{% if section.name == 'last' %}
			<article class="framedArticle dash offset-2 col-8 mb-3">
				{% if section.title %}
					<h3>{{ section.title }}</h3>
				{% endif %}
				{% if section.subTitle %}
					<h4>{{ section.subTitle|lower|capitalize }}</h4>
				{% endif %}
				<p>{{ section.content|raw }}</p>
			</article>
		{% endif %}
	{% endfor %}
{% endblock %}
