{% extends "front_templates/page_template.html.twig" %}

{% block body %}
	{% include('/front_pages/_intro_section_template.html.twig') %}

	{% set bg = '' %}
	{% if page.name == 'plural-projects' %}
		{% set bg = 'bg-light' %}
	{% endif %}
	<div class="{{ bg }} offset-md-2 col-md-8 py-3 mb-5">
		{% for section in sections %}
			{% if section.name == 'top' %}
				<article class="text-center mb-5">
					{% if section.title %}
						<h2 class="colored">{{ section.title }}</h2>
					{% endif %}
					{% if section.subTitle %}
						<h3 class="font-weight-bold">{{ section.subTitle|lower|capitalize }}</h3>
					{% endif %}
					<p>{{ section.content|raw }}</p>
				</article>
			{% endif %}
		{% endfor %}
		<div class="d-md-flex mt-3 align-items-start justify-content-center">
			{% for section in sections %}
				{% if section.name == 'left' %}
					<article class="text-center framedArticle dot col-md-6 mb-1 mx-1">
						{% if section.title %}
							<h2 class=" colored">{{ section.title }}</h2>
						{% endif %}
						{% if section.subTitle %}
							<h3 class="font-weight-bold mx-0 mb-2">{{ section.subTitle|lower|capitalize }}</h3>
						{% endif %}
						<div class="text-left m-0">{{ section.content|raw }}</div>
					</article>
				{% endif %}

				{% if section.name == 'right' %}
					<article class="text-center framedArticle red-dot col-md-6 mb-1 mx-1">
						{% if section.title %}
							<h2 class="colored">{{ section.title }}</h2>
						{% endif %}
						{% if section.subTitle %}
							<h3 class="font-weight-bold mx-0 mb-2">{{ section.subTitle|lower|capitalize }}</h3>
						{% endif %}
						<p>{{ section.content|raw }}</p>
					</article>
				{% endif %}
			{% endfor %}
		</div>

		{% for section in sections %}
			{% if section.name == 'bottom' %}
				<article class="text-center framedArticle solid mt-3">
					{% if section.title %}
						<h2 class="colored">{{ section.title }}</h2>
					{% endif %}
					{% if section.subTitle %}
						<p class="font-weight-bold mx-0">{{ section.subTitle|lower|capitalize }}</p>
					{% endif %}
					<p class="mb-1">{{ section.content|raw }}</p>
				</article>
			{% endif %}
		{% endfor %}
	</div>

	{% for section in sections %}
		{% if section.name == 'last' %}
			<article class="text-center framedArticle dash offset-md-2 col-md-8">
				{% if section.title %}
					<h2 class="colored">{{ section.title }}</h2>
				{% endif %}
				{% if section.subTitle %}
					<h3 class="font-weight-bold mx-0 mb-2">{{ section.subTitle|lower|capitalize }}</h3>
				{% endif %}
				<div class="my-1">{{ section.content|raw }}</div>
			</article>
		{% endif %}
	{% endfor %}
{% endblock %}
