{% extends "front_templates/page_template.html.twig" %}

{% block body %}

	<div class="offset-2 col-8">
		{% for section in sections %}
			<article class="mb-5">
				{% if section.title %}
					<h3 class="colored">{{ section.title|lower|capitalize }}</h3>
				{% endif %}
				{% if section.subTitle %}
					<h4>{{ section.subTitle }}</h4>
				{% endif %}
				<p class="text-justify">{{ section.content|raw}}</p>
			</article>
		{% endfor %}
	</div>
	<div class=" d-flex justify-content-around flex-wrap">
		{% for section in sections %}
			{% if section.image.name %}
				<div class=" d-flex flex-column align-items-center justify-content-between col-lg-3 col-md-4 col-sm-6 col-12 my-3">
					<div class="company-image-div mb-0">
						<img class="company-frame" src="{{ asset('images/cadre.png') }}">
						<img class="company-image" src="{{ asset('images/uploads/paragraphImage/' ~ section.image.name) }}" alt="{{section.imageDescription}}">
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
