{% extends "front_base.html.twig" %}

{% block title %}
	{{ page.pageSlug }}
{% endblock %}

{% block body %}
	<div class="offset-1 col-10">
		{% for section in sections %}
			<article class="mb-5">
				{% if section.title %}
					<h3 class="colored">{{ section.title }}</h3>
				{% endif %}
				{% if section.subTitle %}
					<h4>{{ section.subTitle }}</h4>
				{% endif %}
				<p class="text-justify">{{ section.content|raw}}</p>
			</article>
		{% endfor %}
	</div>
	<div class=" offset-1 text-center col-10 mb-5">
		{% for section in sections %}
			{% if section.image.name %}
				<img class="assoIntroImage img-thumbnail" src="{{ asset('images/uploads/paragraphImage/' ~ section.image.name) }}">
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
