{% extends "front_base.html.twig" %}

{% block title %}
	{{ page.pageSlug }}
{% endblock %}

{% block body %}
	{% include('/front/_intro_section_template.html.twig') %}

	{% set bg = '' %}
	{% if page.name == 'plural-projects' %}
		{% set bg = 'bg-light' %}
	{% endif %}
	<div class="offset-1 col-10 {{ bg }} py-3 mb-3">
		{% for section in sections %}
			{% if section.name == 'top' %}
				<article class="col-12 text-center">
					{% if section.title %}
						<h3 class="colored">{{ section.title }}</h3>
					{% endif %}
					{% if section.subTitle %}
						<h5>{{ section.subTitle }}</h5>
					{% endif %}
					{{ section.content|raw }}
				</article>
			{% endif %}
		{% endfor %}
		<div class='d-flex my-3 align-items-center justify-content-around'>
			{% for section in sections %}
				{% if section.name == 'left' %}
					<article id="leftArticle" class="framedArticle col-6 mr-2">
						{% if section.title %}
							<h3 class="text-center colored">{{ section.title }}</h3>
						{% endif %}
						{% if section.subTitle %}
							<h5 class="text-center">{{ section.subTitle }}</h5>
						{% endif %}
						{{ section.content|raw }}
					</article>
				{% endif %}

				{% if section.name == 'right' %}
					<article id="rightArticle" class="framedArticle col-6 ml-2">
						{% if section.title %}
							<h3 class="text-center colored">{{ section.title }}</h3>
						{% endif %}
						{% if section.subTitle %}
							<h5 class="text-center">{{ section.subTitle }}</h5>
						{% endif %}
						<p>{{ section.content|raw }}</p>
					</article>
				{% endif %}
			{% endfor %}
		</div>

		{% for section in sections %}
			{% if section.name == 'bottom' %}
				<article id="bottomArticle" class="framedArticle offset-1 col-10 mb-3">
					{% if section.title %}
						<h3 class="text-center colored">{{ section.title }}</h3>
					{% endif %}
					{% if section.subTitle %}
						<h5 class="text-center">{{ section.subTitle }}</h5>
					{% endif %}
					<p class="text-center">{{ section.content|raw }}</p>
				</article>
			{% endif %}
		{% endfor %}
	</div>

	{% for section in sections %}
		{% if section.name == 'last' %}
			<article id="lastArticle" class="framedArticle offset-1 col-10 mb-3">
				{% if section.title %}
					<h3>{{ section.title }}</h3>
				{% endif %}
				{% if section.subTitle %}
					<h4>{{ section.subTitle }}</h4>
				{% endif %}
				<p>{{ section.content|raw }}</p>
			</article>
		{% endif %}
	{% endfor %}
{% endblock %}
