{% extends "front_base.html.twig" %}

{% block title %}
	{{ page.pageSlug }}
{% endblock %}

{% block body %}
	{% for section in sections %}
		{% if section.name == 'intro' %}
			<div class="offset-1 col-10 mb-5">
				{% if section.title %}
					<h3>{{ section.title }}</h3>
				{% endif %}
				{% if section.subTitle %}
					<h4>{{ section.subTitle }}</h4>
				{% endif %}
				<p>{{ section.content|raw }}</p>
			</div>
		{% endif %}
	{% endfor %}

	<div class="d-flex offset-1 col-10">
		{% for section in sections %}
			{% if section.name == 'projet asso' %}
				<div class="bg-light">
					{% if section.name == 'projet asso' %}
						<article class="mr-2 mt-5">
							{% if section.title %}
								<h3 class=" colored">{{ section.title }}</h3>
							{% endif %}
							{% if section.subTitle %}
								<h4>{{ section.subTitle }}</h4>
							{% endif %}
							{{ section.content|raw }}
						</article>
					{% endif %}

					{% if section.name == 'encart gauche' %}
						<article id="coopLeftArticle" class="col-5 mr-2 mt-5">
							{% if section.title %}
								<h3 class=" colored">{{ section.title }}</h3>
							{% endif %}
							{% if section.subTitle %}
								<h4>{{ section.subTitle }}</h4>
							{% endif %}
							{{ section.content|raw }}
						</article>
					{% endif %}

					{% if section.name == 'encart droit' %}
						<article id="coopRightArticle" class="col-5 ml-2">
							{% if section.title %}
								<h3 class="colored">{{ section.title }}</h3>
							{% endif %}
							{% if section.subTitle %}
								<h5>{{ section.subTitle }}</h5>
							{% endif %}
							<p>{{ section.content|raw }}</p>
						</article>
					{% endif %}
				</div>
			{% endif %}
		{% endfor %}
	</div>

	{% for section in sections %}
		{% if section.name == 'encart bas' %}
			<article id="coopBottomArticle" class="offset-1 col-10 my-5">
				{% if section.title %}
					<h3>{{ section.title }}</h3>
				{% endif %}
				{% if section.subTitle %}
					<h4>{{ section.subTitle }}</h4>
				{% endif %}
				<p>{{ section.content|raw }}</p>
			</article>
		{% endif %}
	{% endfor %}
{% endblock %}
