{% extends 'back_base.html.twig' %}

{% block title %}
	{{'section.create'|trans({}, 'section')|title}}
{% endblock %}

{% block body %}
	<h1>{{'section.create'|trans({}, 'section')|title}}</h1>
	<div class="ml-3">

		{{ include('admin/section/_form.html.twig') }}

		{% if page is not null %}
			<a class="badge badge-secondary p-2 mb-5" href="{{ path('page_list_show' , {'id': page}) }}">{{'general.back'|trans({}, 'general')|capitalize}}</a>
		{% else %}
			<a class="badge badge-secondary p-2 mb-5" href="{{ path('admin_dashboard') }}">{{'general.back'|trans({}, 'general')|capitalize}}</a>
		{% endif %}

	</div>
{% endblock %}
