{% extends 'back_base.html.twig' %}

{% block title %}
	{{'section.create'|trans({}, 'section')|title}}
{% endblock %}

{% block body %}
	<h1>{{'section.create'|trans({}, 'section')|title}}</h1>
	<div class="ml-3">

		{{ include('admin/section/_form.html.twig') }}

		<a class="badge badge-secondary p-2 mb-5" href="{{ path('section_index') }}">{{'general.back'|trans({}, 'general')|capitalize}}</a>
	</div>
{% endblock %}
