{% extends 'back_layout.html.twig' %}

{% block title %}
	{{ section.name }}
{% endblock %}

{% block body %}
	<div class="offset-9 col-4 mt-5 mr-5 text-center ">
		<div class="d-flex justify-content-center ">
			<div class="btn-showView mr-1">
				<a class="badge badge-secondary p-2" href="{{ path('page_list_show', {'id': section.belongToPageId}) }}" title="Retour à la liste des article">{{'general.back'|trans({}, 'general')|capitalize}}</a>
			</div>
			<div class="btn-showView ml-1">
				<a class="badge badge-primary p-2" href="{{ path('section_edit', {'id': section.id, 'page_id': section.belongToPageId}) }}" title="Modifier l'article">{{'general.edit'|trans({}, 'general')|capitalize}}</a>
			</div>
		</div>

		<div class="btn-showView">
			{{ include('admin/section/_delete_form.html.twig') }}
		</div>
	</div>

	<h1>{{ section.name|capitalize }}</h1>

	<div class="col-12 d-flex">
		<aside class="col-2 my-5 border-right border-danger">
			<div>
				<h4>{{'section.appearanceOrder'|trans({}, 'section')|capitalize}}</h4>
				<p class="ml-3">{{ section.appearanceOrder }}</p>
			</div>
			<div>
				<h4>{{'section.pageSlug'|trans({}, 'section')|capitalize}}</h4>
				<p class="ml-3">{{ ('front.' ~ section.belongToPage.tab)|trans({}, 'menu') }}/{{ ('front.' ~ section.belongToPage.name)|trans({}, 'menu')}}</p>
			</div>
		</aside>
		<div class="col-9 d-flex mt-5">
			<div class=" col-lg-3 col-4 ">
				<img class="miniImage" src="{{ asset('images/uploads/paragraphImage/' ~ section.image.name) }}" alt="{{section.imageDescription}}">
			</div>
			<div class="col-7 flex-column">
				{% if section.title != null %}
					<h3 class="text-justify">{{ section.title|capitalize }}</h3>
				{% endif %}
				{% if section.subTitle != null %}
					<h5 class=" ml-3 text-justify">{{ section.subTitle|capitalize }}</h5>
				{% endif %}
				<div class="mt-3">{{ section.content|raw }}</div>
			</div>
		</div>
	</div>
{% endblock %}
