{% extends "front_templates/page_template.html.twig" %}

{% block body %}
	<div class="container-fluid">
		<div>
			{% for section in sections %}
				{% if section.name == 'prod meeting' %}
					<section class=" d-md-flex align-items-center justify-content-between offset-lg-2 col-lg-8 mb-5">
						{% if section.image.name %}
							<div class="d-flex flex-column align-items-center my-3">
								<div class="cubic-image-div">
									<img class="image-frame" src="{{ asset('images/cadre.png') }}" alt="cadre noir entourant l'image">
									<img class="cubic-image" src="{{ asset('images/uploads/paragraphImage/' ~ section.image.name) }}" alt="{{section.imageDescription}}">
								</div>
							</div>
						{% endif %}
						<article class="my-5 col-md-7 framedArticle dot text-md-left text-center">
							{% if section.title %}
								<h2 class="colored mb-3">{{ section.title }}</h2>
							{% endif %}
							{% if section.subTitle %}
								<h3>{{ section.subTitle }}</h3>
							{% endif %}
							<p>{{ section.content|raw}}</p>
						</article>
					</section>
				{% endif %}
			{% endfor %}
		</div>
		<div>
			{% for section in sections %}
				{% if section.name == 'nights' %}
					<section class=" d-sm-flex align-items-center justify-content-between offset-lg-2 col-lg-8 mb-3">
						{% if section.image.name %}
							<div class="d-flex flex-column align-items-center my-3">
								<div class="cubic-image-div">
									<img class="image-frame" src="{{ asset('images/cadre.png') }}" alt="cadre noir entourant l'image">
									<img class="cubic-image" src="{{ asset('images/uploads/paragraphImage/' ~ section.image.name) }}" alt="{{section.imageDescription}}">
								</div>
							</div>
						{% endif %}
						<article class="h-100 text-center framedArticle red-dash">
							{% if section.title %}
								<h2 class="colored mb-3">{{ section.title }}</h2>
							{% endif %}
							{% if section.subTitle %}
								<h3>{{ section.subTitle }}</h3>
							{% endif %}
							<p class="">{{ section.content|raw}}</p>
						</article>
					</section>
				{% endif %}
			{% endfor %}
		</div>

		<div id="calendar" class="my-5">
			<h2 class="colored text-center font-weight-bold mb-0">{{ 'general.third_location.program'|trans({}, 'general')|title }}</h2>
			<ul class="d-flex justify-content-around flex-wrap list-unstyled offset-2 col-8">
				{% for placeEventPerf in placeEventPerfs %}
					<li class=" d-flex flex-column align-items-center col-lg-6 col-12 mt-3">
						<div class="d-flex flex-column align-items-center mt-3">
							<div class="cubic-image-div">
								<img class="image-frame" src="{{ asset('images/cadre.png') }}" alt="cadre noir entourant l'image">
								<img class="cubic-image" src="{{ asset('images/uploads/company/' ~ placeEventPerf.company.image.name) }}" alt="{{placeEventPerf.company.imageDescription}}">
							</div>
						</div>
						<div class="font-weight-bold text-center">
							<p>{{ placeEventPerf.date|format_date(pattern='EEEE dd MMMM')|capitalize }}
								-
								{{ placeEventPerf.date|date('H') }}h{{ placeEventPerf.date|date('i') }}</p>
							<p>
								{{ placeEventPerf.price|raw }}
							</p>
							<p>
								{{ placeEventPerf.company.theme|raw }}</p>
						</div>
					</li>

				{% endfor %}
			</ul>
		</div>

		<div>
			{% for section in sections %}
				{% if section.name == 'visit' %}
					<section class=" d-md-flex justify-content-between offset-lg-2 col-lg-8 mb-3">
						{% if section.image.name %}
							<div class="d-flex flex-column my-3">
								<div class="cubic-image-div justify-content-center">
									<img class="image-frame" src="{{ asset('images/cadre.png') }}" alt="cadre noir entourant l'image">
									<img class="cubic-image" src="{{ asset('images/uploads/paragraphImage/' ~ section.image.name) }}" alt="{{section.imageDescription}}">
								</div>
							</div>
						{% endif %}
						<article class="h-100 col-md-7 framedArticle dot text-md-left text-center">
							{% if section.title %}
								<h2 class="colored mb-3">{{ section.title }}</h2>
							{% endif %}
							{% if section.subTitle %}
								<h3>{{ section.subTitle }}</h3>
							{% endif %}
							<div class="ml-0">{{ section.content|raw}}</div>
						</article>
					</section>
				{% endif %}
			{% endfor %}
		</div>
	{% endblock %}
