{% extends "front_templates/page_template.html.twig" %}

{% block body %}
	<div class="container-fluid">
		<div>
			<h2 class="colored text-center font-weight-bold">{{ 'general.third_location.prod_meetings'|trans({}, 'general') }}</h2>
			{% for section in sections %}
				{% if section.name == 'prod meeting' %}
					<section class=" d-sm-flex align-items-center justify-content-between offset-lg-2 col-lg-8 mb-3">
						{% if section.image.name %}
							<div class="d-flex flex-column align-items-center my-3">
								<div class="cubic-image-div">
									<img class="image-frame" src="{{ asset('images/cadre.png') }}" alt="cadre noir entourant l'image">
									<img class="cubic-image" src="{{ asset('images/uploads/paragraphImage/' ~ section.image.name) }}" alt="{{section.imageDescription}}">
								</div>
							</div>
						{% endif %}
						<article class="my-5 col-md-7">
							{% if section.title %}
								<h2 class="colored">{{ section.title }}</h2>
							{% endif %}
							{% if section.subTitle %}
								<h3>{{ section.subTitle }}</h3>
							{% endif %}
							<p>{{ section.content|raw}}</p>
						</article>
					</section>
				{% endif %}
			{% endfor %}
		</div>
		<div>
			<h2 class="colored text-center font-weight-bold">{{ 'general.third_location.nights'|trans({}, 'general') }}</h2>
			{% for section in sections %}
				{% if section.name == 'nights' %}
					<section class=" d-sm-flex align-items-center justify-content-between offset-lg-2 col-lg-8 mb-3">
						{% if section.image.name %}
							<div class="d-flex flex-column align-items-center my-3">
								<div class="cubic-image-div">
									<img class="image-frame" src="{{ asset('images/cadre.png') }}" alt="cadre noir entourant l'image">
									<img class="cubic-image" src="{{ asset('images/uploads/paragraphImage/' ~ section.image.name) }}" alt="{{section.imageDescription}}">
								</div>
							</div>
						{% endif %}
						<article class="h-100 col-md-7">
							{% if section.title %}
								<h2 class="colored">{{ section.title }}</h2>
							{% endif %}
							{% if section.subTitle %}
								<h3>{{ section.subTitle }}</h3>
							{% endif %}
							<p class="text-justify">{{ section.content|raw}}</p>
						</article>
					</section>
				{% endif %}
			{% endfor %}
		</div>

		<div id="calendar" class="my-5">
			<h2 class="colored text-center font-weight-bold">{{ 'general.third_location.program'|trans({}, 'general')|title }}</h2>
			<ul class="d-flex justify-content-around flex-wrap list-unstyled">
				{% for placeEventPerf in placeEventPerfs %}
					<li class=" d-flex flex-column align-items-center col-lg-3 col-md-4 col-sm-6 col-12 mt-3">
						<a href="{{path('display_company', {'id': placeEventPerf.company.id })}}">
							<div class="d-flex flex-column align-items-center mt-3">
								<div class="cubic-image-div">
									<img class="image-frame" src="{{ asset('images/cadre.png') }}" alt="cadre noir entourant l'image">
									<img class="cubic-image" src="{{ asset('images/uploads/company/' ~ placeEventPerf.company.image.name) }}" alt="{{placeEventPerf.company.imageDescription}}">
								</div>
							</div>
							<div class=" text-center">
								<p>{{ placeEventPerf.date|format_date(pattern='EEEE dd MMMM')|capitalize }}</p>
								<p>
									{{ placeEventPerf.price ? placeEventPerf.price|format_currency('EUR') : 'perf.free'|trans({}, 'perf')|capitalize }}
								</p>
								<p>{{ placeEventPerf.date|date('H') }}h{{ placeEventPerf.date|date('i') }}
									-
									{{ placeEventPerf.company.name|raw }}</p>
							</div>
						</a>
					</li>

				{% endfor %}
			</ul>
		</div>

		<div>
			<h2 class="colored text-center font-weight-bold">{{ 'general.third_location.visits'|trans({}, 'general') }}</h2>
			{% for section in sections %}
				{% if section.name == 'visit' %}
					<section class=" d-sm-flex align-items-center justify-content-between offset-lg-2 col-lg-8 mb-3">
						{% if section.image.name %}
							<div class="d-flex flex-column align-items-center my-3">
								<div class="cubic-image-div">
									<img class="image-frame" src="{{ asset('images/cadre.png') }}" alt="cadre noir entourant l'image">
									<img class="cubic-image" src="{{ asset('images/uploads/paragraphImage/' ~ section.image.name) }}" alt="{{section.imageDescription}}">
								</div>
							</div>
						{% endif %}
						<article class="h-100 col-md-7">
							{% if section.title %}
								<h2 class="colored">{{ section.title }}</h2>
							{% endif %}
							{% if section.subTitle %}
								<h3>{{ section.subTitle }}</h3>
							{% endif %}
							<p class="text-justify">{{ section.content|raw}}</p>
						</article>
					</section>
				{% endif %}
			{% endfor %}
		</div>
	{% endblock %}
