{% extends "front_base.html.twig" %}

{% block title %}
	{{ page.pageSlug }}
{% endblock %}

{% block body %}

	{% include('/front/_intro_section_template.html.twig') %}

	<div>
		<h1>{{'seasonCalendar'|trans({}, 'general')}}</h1>
		{% set months = ['Mar','Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %}
		{% for month in months %}
			<h2>{{month}}</h2>
			{% for seasonEvent in seasonEvents %}
				{% if seasonEvent.starting_date|date('M') == month %}
					<h3>{{ seasonEvent.starting_date|date('D, d')}}</h3>
					<h4>{{seasonEvent.name}}</h4>
				{% endif %}
				{% for seasonPerf in seasonPerfs %}
					{% if seasonPerf.date|date('M') == month %}
						<h3>{{ seasonPerf.date|date('D, d')}}</h3>
						<h4>{{seasonPerf.companyName}}</h4>
					{% endif %}
				{% endfor %}
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}
