{% extends "front_base.html.twig" %}

{% block title %}
	{{ page.pageSlug }}
{% endblock %}

{% block body %}
	{% for section in sections %}
		{% if section.name == 'intro' %}
			<div class="offset-1 col-10 mb-5">
				{% if section.title %}
					<h3>{{ section.title }}</h3>
				{% endif %}
				{% if section.subTitle %}
					<h4>{{ section.subTitle }}</h4>
				{% endif %}
				<p>{{ section.content|raw }}</p>
			</div>
		{% endif %}
	{% endfor %}

	<div class="d-flex col-12 flex-wrap align-items-center justify-content-around ">
		{% for section in sections %}
			{% if section.name == 'content' %}
				<article class="col-5 bg-light mt-5 py-3 text-center">
					{% if section.title %}
						<h3 class="text-center colored">{{ section.title }}</h3>
					{% endif %}
					{% if section.subTitle %}
						<h4>{{ section.subTitle }}</h4>
					{% endif %}
					{{ section.content|raw }}
				</article>
			{% endif %}
		{% endfor %}
	</div>

	{% for section in sections %}
		{% if section.name == 'RDV' %}
			<article id="coopBottomArticle" class="offset-4 col-4 my-5 text-center">
				{% if section.title %}
					<h3>{{ section.title }}</h3>
				{% endif %}
				{% if section.subTitle %}
					<h4>{{ section.subTitle }}</h4>
				{% endif %}
				<div>{{ section.content|raw }}</div>
			</article>
		{% endif %}
	{% endfor %}
{% endblock %}
