{% extends "front_templates/home_template.html.twig" %}

{% block body %}

	<div class="container-fluid">
		{% if homeEvents %}
			<h3 class="my-3 colored ml-5">{{'general.events'|trans({}, 'general')|capitalize}}</h3>
			<div class="row justify-content-around">
				{% for event in homeEvents %}
					{% if event.startingDate|date('M') == 'Mar'|date('M') %}
						<div class="highlight-card col-lg-2 col-4 card px-0 border border-danger">
							<img src="{{asset('images/uploads/eventProgram/' ~ event.programImage.name)}}" class="card-img-top" alt="{{event.imageDescription}}">
							<div class="d-flex flex-column justify-content-center card-body py-0">
								<a class="element-link text-decoration-none text-center" href="{{path('display_event', {'id': event.id})}}">
									<p class="text-decoration-none text-muted my-1">
										{{event.startingDate|format_date(pattern='EEEE dd')|capitalize}}
										-
										{{event.place}}
									</p>
									<h5 class="card-title">{{event.name}}</h5>
								</a>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
		{% if homePerfs %}
			<h3 class="my-3 colored ml-5">{{'general.perfs'|trans({}, 'general')|capitalize}}</h3>
			<div class="row justify-content-around mb-3">
				{% for perf in homePerfs %}
					{% if perf.date|date('M') == 'Mar'|date('M') %}
						<div class="col-lg-2 col-md-4 col-6">
							<div class=" highlight-card card  px-0 border border-danger mb-2">
								<img src="{{asset('images/uploads/company/' ~ perf.company.image.name)}}" class="card-img-top" alt="{{perf.company.imageDescription}}">
								<div class="card-body d-flex flex-column justify-content-center py-0">
									<p class="text-decoration-none text-muted text-small text-center my-1">
										{{perf.date|format_date(pattern='EEEE dd')|capitalize}}
										-
										{{perf.cityShow}}
									</p>
									{% if perf.event != 'saison' %}
										<a class="element-link text-decoration-none text-center" href="{{path('display_event', {'id': perf.event.id})}}">
											<h5 class="card-title m-1">{{perf.event}}</h5>
										</a>
									{% else %}
										<a class="element-link text-decoration-none text-center" href="{{path('display_company',{'id':perf.company.id})}}">
											<h5 class="card-title m-1">{{perf.company}}</h5>
										</a>
									{% endif %}
									<p class="card-text">
										<small>{{perf.company.showTitle}}</small>
									</p>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}
		<div class="offset-lg-5 col-lg-2 col-md-4 col-6">
			<div class=" highlight-card card  px-0 border border-danger mb-2">
				<a class="element-link text-decoration-none text-center" href="{{asset('images/uploads/eventProgram/' ~ season.programPDF.name)}}">
					<img class="card-img-top" src="{{asset('images/uploads/eventProgram/' ~ season.programImage.name)}}" alt="{{season.imageDescription}}">
				</a>
			</div>
		</div>
	</div>

	<div class=" container-fluid d-flex my-3">
		<div class="text-center col-12">
			<div>
				<div class="d-flex justify-content-center">
					<h5 class="mt-3 homeTitle px-4">
						{{'general.focusOn'|trans({}, 'general')|capitalize}}
					</h5>
				</div>
				<div>
					<img class="miniTitleBar" src="{{asset('images/title-bar.jpg')}}">
				</div>
			</div>
			{% for section in sections %}
				{% set homeFrame = '' %}
				{% if section.appearanceOrder == 1 %}
					{% set homeFrame = 'greyFrame' %}
				{% endif %}
				{% if section.appearanceOrder == 2 %}
					{% set homeFrame = 'redFrame' %}
				{% endif %}

				<div class="{{ homeFrame }} offset-2 col-8 p-2 mb-2">
					<div class="text-center">
						{% if section.image.name %}
							<img class=" col-md-4 d-none d-md-block mb-2" src=" {{asset('images/uploads/paragraphImage/' ~ section.image.name)}} " alt=" {{section.imageDescription}} ">
						{% endif %}
						<div>
							<h5>{{ section.title }}</h5>
							<p>{{ section.content|raw }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
