{% extends "front_templates/page_template.html.twig" %}

{% block body %}

	{% include('/front/_intro_section_template.html.twig') %}

	<h1>{{'seasonCalendar'|trans({}, 'general')}}
		{{'now'|date('Y')}}</h1>

	<ul class="nav nav-pills mt-5 mx-5 justify-content-between" id="pills-tab" role="tablist">
		{% for month in months %}
			{% set show = '' %}
			{% if month == 'now'|date('M') %}
				{% set show = 'active show' %}
			{% endif %}

			<li class="nav-item">
				<a class="nav-link {{ show }} text-center d-block" id="pills-{{month}}-tab" data-toggle="pill" href="#pills-{{month}}" role="tab" aria-controls="pills-{{month}}" aria-selected="true">{{month}}</a>
			</li>
		{% endfor %}
	</ul>

	<div class="tab-content agenda mb-3" id="pills-tabContent">
		{% for month in months %}
			{% set show = '' %}
			{% if month == 'now'|date('M') %}
				{% set show = 'active show' %}
			{% endif %}

			{% set monthEvents = [] %}
			{% for seasonEvent in seasonEvents  %}
				{% if (seasonEvent.starting_date|date('M') == month)%}
					{% set monthEvents = monthEvents|merge([seasonEvent]) %}
				{% endif %}
			{% endfor %}

			{% set monthPerfs = [] %}
			{% for seasonPerf in seasonPerfs  %}
				{% if (seasonPerf.date|date('M') == month)%}
					{% set monthPerfs = monthPerfs|merge([seasonPerf])  %}
				{% endif %}
			{% endfor %}

			<div class="tab-pane fade {{ show }}" id="pills-{{month}}" role="tabpanel" aria-labelledby="pills-{{month}}-tab">
				<h3 class="offset-2">{{'general.events'|trans({}, 'general')|capitalize}}</h3>
				{% if monthEvents|length >= 1 %}
					{% for seasonEvent in monthEvents %}
						<a class="element-link" href="{{ path('display_event', {'id': seasonEvent.id}) }}">
							<div class="text-center my-4">
								<h3 class="text-decoration-none colored">{{ seasonEvent.starting_date|format_date(pattern="EEEE dd")|capitalize }}
									-
									<span class="text-dark font-weight-lighter font-italic">{{seasonEvent.place}}</span>
								</h3>
								<h4>{{ seasonEvent.name }}</h4>
							</div>
						</a>
					{% endfor %}
				{% else %}
					<p class="offset-1 colored">{{'general.no_events'|trans({}, 'general')|capitalize}}</p>
				{% endif %}

				<h3 class="offset-2">{{'general.perfs'|trans({}, 'general')|capitalize}}</h3>
				{% if monthPerfs|length >= 1 %}
					{% for seasonPerf in monthPerfs %}
						<a class="element-link" href="{{ path('display_company', {'id': seasonPerf.company.id}) }}">
							<div class="text-center my-4">
								<h3 class="text-decoration-none colored">{{ seasonPerf.date|format_date(pattern="EEEE dd")|capitalize}}
									-
									<span class="text-dark font-weight-lighter font-italic">{{ seasonPerf.cityShow }}</span>
								</h3>
								<h4>{{ seasonPerf.company.name }}</h4>
								<p class="colored font-italic">{{ seasonPerf.company.showTitle}}
									-
									<span>{{ seasonPerf.company.duration}}min</span>
								</p>
							</div>
						</a>
					{% endfor %}
				{% else %}
					<p class="offset-1 colored">{{'general.no_perfs'|trans({}, 'general')|capitalize}}</p>
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
