{% extends "front_templates/page_template.html.twig" %}

{% block body %}

	{% include('/front/_intro_section_template.html.twig') %}

	<ul class="nav nav-pills mt-2 offset-2 col-8 justify-content-between" id="pills-tab" role="tablist">
		{% for month in months %}
			{% set show = '' %}
			{% if month == 'now'|date('M') %}
				{% set show = 'active show' %}
			{% endif %}

			<li class="nav-item">
				<a class="nav-link {{ show }} text-center d-block" id="pills-{{month}}-tab" data-toggle="pill" href="#pills-{{month}}" role="tab" aria-controls="pills-{{month}}" aria-selected="true">{{month|trans({}, 'general')}}</a>
			</li>
		{% endfor %}
	</ul>


	<div class="tab-content agenda mb-3" id="pills-tabContent">

		<div class="mt-5 offset-3 col-6">
			<img class="calendarBar" src="{{asset('images/title-bar.jpg')}}">
		</div>
		{% for month in months %}
			{% set show = '' %}
			{% if month == 'now'|date('M') %}
				{% set show = 'active show' %}
			{% endif %}

			{% set monthEvents = [] %}
			{% for seasonEvent in seasonEvents  %}
				{% if (seasonEvent.starting_date|date('M') == month)%}
					{% set monthEvents = monthEvents|merge([seasonEvent]) %}
				{% endif %}
			{% endfor %}

			{% set monthPerfs = [] %}
			{% for seasonPerf in seasonPerfs  %}
				{% if (seasonPerf.date|date('M') == month)%}
					{% set monthPerfs = monthPerfs|merge([seasonPerf])  %}
				{% endif %}
			{% endfor %}

			<div class="tab-pane fade {{ show }}" id="pills-{{month}}" role="tabpanel" aria-labelledby="pills-{{month}}-tab">
				{% if monthEvents|length >= 1 %}
					{% for seasonEvent in monthEvents %}
						<a class="element-link" href="{{ path('display_event', {'id': seasonEvent.id}) }}">
							<div class="text-center">
								<h3 class="text-decoration-none colored mb-0">{{ seasonEvent.starting_date|format_date(pattern="EEEE d MMMM")|capitalize }}
								</h3>
								<p class="text-dark font-weight-lighter font-italic mb-0">{{seasonEvent.place}}</p>
								<h4>{{ seasonEvent.name }}</h4>
							</div>
						</a>
					{% endfor %}
				{% else %}
					<p class="mt-5 text-center">{{'general.no_events'|trans({}, 'general')|capitalize}}</p>
				{% endif %}

				{% if monthPerfs|length >= 1 %}
					{% for seasonPerf in monthPerfs %}
						<a class="element-link" href="{{ path('display_company', {'id': seasonPerf.company.id}) }}">
							<div class="text-center ">
								<h3 class="text-decoration-none colored mb-0">{{ seasonPerf.date|format_date(pattern="EEEE d MMMM")|capitalize}}
								</h3>
								<p class="text-dark font-weight-lighter font-italic mb-0">{{ seasonPerf.cityShow }}</p>
								<h4 class="mb-0">{{ seasonPerf.company.name }},
									{{ seasonPerf.company.showTitle}}</h4>
							</div>
						</a>
					{% endfor %}
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
