{% extends "front_templates/page_template.html.twig" %}

{% block body %}

	<div class="d-flex justify-content-around offset-2 col-8 flex-wrap">
		{% for company in companies %}
			<div class="d-flex justify-content-around col-lg-4 col-md-4 col-sm-6 col-12 text-center my-3">
				<a class="element-link d-flex flex-column justify-content-between" href="{{path('display_company',{'id':company.id})}}">
					<div class="company-image-div mb-0">
						<img class="company-frame" src="{{ asset('images/cadre.png') }}">
						<img class="company-image" src="{{ asset('images/uploads/company/' ~ company.image.name) }}" alt="{{company.imageDescription}}">
					</div>
					<h3>{{company.name}}</h3>
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
