{% extends "front_templates/page_template.html.twig" %}

{% block body %}

	{% include('/front_pages/_intro_section_template.html.twig') %}

	<div class="d-flex text-center justify-content-center">
		<h2 class="mt-3 pageTitle px-4">
			{{'general.be_volunteer'|trans({}, 'general')|capitalize}}
		</h2>
	</div>
	<div class="text-center">
		<img class="miniTitleBar" src="{{asset('images/trait-rouge.png')}}" alt="barre rouge">
	</div>
	{% for section in sections %}
		{% if section.name != 'intro' %}
			<section class=" d-md-flex align-items-center justify-content-between offset-lg-2 col-lg-8 mb-3">
				<div class="">
					{% if section.image.name %}
						<div class="d-flex flex-column align-items-center my-3">
							<div class="cubic-image-div justify-content-center">
								<img class="image-frame" src="{{ asset('images/cadre.png') }}" alt="cadre noir entourant l'image">
								<img class="cubic-image" src="{{ asset('images/uploads/paragraphImage/' ~ section.image.name) }}" alt="{{section.imageDescription}}">
							</div>
						</div>
					</div>
				{% endif %}
				<article class="d-flex flex-column text-md-left text-center">
					{% if section.title %}
						<h2 class=" h-100 colored">{{ section.title }}</h2>
					{% endif %}
					{% if section.subTitle %}
						<h3>{{ section.subTitle }}</h3>
					{% endif %}
					{{ section.content|raw }}
				</article>
			</section>
		{% endif %}
	{% endfor %}
{% endblock %}
