{% extends 'back_templates/index_template.html.twig' %}

{% block title %}
	{{'team.index'|trans({}, 'team')}}
{% endblock %}

{% block body %}
	<div id="adminPageTitle">
		<h1>{{'team.index'|trans({}, 'team')}}</h1>
	</div>

	{% set classDisplay = 'index' %}
	{% if teams|length <= 1  %}
		{% set classDisplay = 'oneElement' %}
	{% endif %}
	<table class="table table-sm {{classDisplay}} table-striped text-center mb-5 pb-5">
		<thead>
			<tr>
				<th>{{'member.photo'|trans({}, 'team')|capitalize}}</th>
				<th>{{'general.name'|trans({}, 'general')|capitalize}}</th>
				<th>{{'general.firstName'|trans({}, 'general')|capitalize}}</th>
				<th>{{'member.role.label'|trans({}, 'team')|capitalize}}</th>
				<th>{{'member.email'|trans({}, 'team')|capitalize}}</th>
				<th>
					<a href="{{ path('team_new') }}" title="Ajouter un nouveau membre à l'équipe">{{'general.create'|trans({}, 'general')|capitalize}}</a>
				</th>
			</tr>
		</thead>
		<tbody>
			{% for team in teams %}
				<tr>
					<td><img class="memberPhoto" src="{{ asset('images/uploads/memberPhoto/' ~ team.photo.name) }}" alt="{{team.firstName}} {{team.name}}"></td>
					<td>{{ team.name|raw }}</td>
					<td>{{ team.firstName|raw }}</td>
					<td>{{ ('member.role.' ~ team.role)|trans({}, 'team')|capitalize}}</td>
					<td>{{ team.email }}</td>
					<td>
						<a class="badge badge-primary my-2 p-2" href="{{ path('team_edit', {'id': team.id}) }}" title="Modifier le membre">{{'general.edit'|trans({}, 'general')|capitalize}}</a>
						{{ include('admin/team/_delete_form.html.twig') }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">{{'general.noRecords'|trans({}, 'general')|capitalize}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
