{% extends 'back_templates/no_flash_template.html.twig' %}

{% block title %}
	{{('front.' ~ tab.name)|trans({}, 'menu')}}
{% endblock %}

{% block body %}
	<div id="adminPageTitle">
		<h1>{{('front.' ~ tab.name)|trans({}, 'menu')}}
		</h1>
	</div>
	{% set classDisplay = 'index' %}
	{% if tab.pages|length <= 2  %}
		{% set classDisplay = 'oneSection' %}
	{% endif %}
	<table class="table table-sm {{classDisplay}} table-striped text-center mb-5 pb-5">
		<thead>
			<tr>
				<th>{{'page.name'|trans({}, 'adminPage')|capitalize}}</th>
				<th>{{'page.content'|trans({}, 'adminPage')|capitalize}}</th>
			</tr>
		</thead>
		<tbody>
			{% for page in pages %}
				{% if page.tab.id == tab.id %}
					<tr>
						<td>
							{{('front.' ~ page.tab)|trans({}, 'menu')}}/{{('front.'~page.name)|trans({}, 'menu')}}
						</td>
						<td>
							<a class="badge badge-secondary my-2 p-2" href="{{ path('page_list_show', {'id': page.id}) }}" title="Voir les sections de l'article">{{'general.show'|trans({}, 'general')|capitalize}}</a>
						</td>
					</tr>
				{% endif %}
			{% else %}
				<tr>
					<td colspan="9">{{'general.noRecords'|trans({}, 'general')|capitalize}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
