{% extends "front_templates/page_template.html.twig" %}

{% block body %}

	{% include('/front_pages/_intro_section_template.html.twig') %}

	<div class="offset-2 col-8">
		<div class="mb-3">
			{% for month in seasonMonths %}
				<div class="mb-3 mx-3">
					<h2 class="text-decoration-none colored m-0">
						{{ month|format_date(pattern='MMMM')|title}}
					</h2>
					{% for perf in performances %}
						{% if perf.event == 'saison' %}
							<div class="text-left">
								{% if month|format_date(pattern='MMMM') == perf.date|format_date(pattern='MMMM') %}
									<a class="m-0" href="{{ path('display_company', {'id': perf.company.id}) }}" title="Voir la fiche de la compagnie">
										<div class="d-flex">
											<div class="flex-column col-3">
												<h2 class=" text-grey mb-0 font-weight-normal">{{perf.date|format_date(pattern="EEEE d")|title}}
												</div>
												<div class="flex-column">
													<p>
														{{ perf.company|raw }}
														{% if perf.company.showTitle|raw %}
															-
															{{ perf.company.showTitle|raw}}
															-
														{% endif %}
														{% if perf.company.isHosted %}
															{{ 'company.is.hosted'|trans({}, 'company')|capitalize}}
															-
														{% endif %}

														<span class="font-italic">
															{{perf.cityShow}}
														</span>
													</p>

												</div>
											</div>
										</a>
									{% endif %}
								</div>
							{% else %}
								<div class="text-left">
									{% if month|format_date(pattern='MMMM') == perf.date|format_date(pattern='MMMM') %}
										<a class="m-0" href="{{ path('display_event', {'id': perf.event.id}) }}" title="Voir la fiche de la compagnie">
											<div class="d-flex">
												<div class="flex-column col-3">
													<h2 class=" text-grey mb-0 font-weight-normal">{{perf.date|format_date(pattern="EEEE d")|title}}</h2>
												</div>
												<div class="flex-column">
													<p>
														{{ perf.event|raw }}
														-
														<span class="font-italic">
															{{perf.event.place|raw}}
														</span>
													</p>

												</div>
											</div>
										</a>
									{% endif %}
								</div>
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
			</div>
		</div>
	{% endblock %}
