{% extends "front_templates/page_template.html.twig" %}

{% block body %}

	<div class="d-flex justify-content-around flex-wrap">
		{% for company in companies %}
			<div class=" d-flex flex-column align-items-center justify-content-between col-lg-3 col-md-4 col-sm-6 col-12 my-3">
				<a class="element-link" href="{{path('display_company',{'id':company.id})}}">
					<div class="company-image-div mb-0">
						<img class="company-frame" src="{{ asset('images/cadre.png') }}">
						<img class="company-image" src="{{ asset('images/uploads/company/' ~ company.image.name) }}" alt="{{company.imageDescription}}">
					</div>
				</a>
				<h3>{{company.name}}</h3>
			</div>
		{% endfor %}
	</div>
{% endblock %}
