{% extends 'front_base.html.twig' %}

{% block title %}
	{{ event.name }}
{% endblock %}

{% block pageTitle %}
	<div>
		<a class="home-link" href="{{ path('page_show', {'pageSlug': 'home'}) }}">
			<i class="fas fa-2x fa-home"></i>
		</a>
		<div class="d-flex justify-content-center">
			<p class="mt-3 pageTitle px-2">
				{{ event.name}}
			</p>
		</div>
		<div id="titleLines">
			<hr class="blackline">
			<hr class="redline">
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="d-md-flex my-5">
		<div class="d-flex flex-md-column offset-md-1 col-md-2  offset-3 col-6 text-center">
			{% if event.startingDate != null and event.hours == null %}
				<div>
					<h4>{{'event.start'|trans({}, 'event')|capitalize}}</h4>
					<p>{{ event.startingDate ? event.startingDate|format_date('full')|capitalize : '' }}</p>
				</div>
				<div class="offset-1">
					<h4>{{'event.end'|trans({}, 'event')|capitalize}}</h4>
					<p>{{ event.endingDate ? event.endingDate|format_date('full')|capitalize : '' }}</p>
				</div>
			{% elseif event.hours != null and event.startingDate != null %}
				<h4>{{'event.hours/date'|trans({}, 'event')|capitalize}}</h4>
				<p>{{ event.hours }}</p>
			{% endif %}
		</div>
		{% if event.programImage.name %}
			<img class="offset-md-1 col-md-5 offset-2 col-8" src="{{asset('images/uploads/eventProgram/' ~ event.programImage.name) }}" alt="{{event.imageDescription}}">
		{% endif %}
	</div>

	<div class="text-center offset-1 col-10">{{ event.description|raw }}</div>
	<div class="text-center mt-5">
		{% if event.programPDF.name %}
			<a href="{{ asset('images/uploads/eventProgram/' ~ event.programPDF.name) }}">{{ 'event.prog.upload'|trans({}, 'event')|capitalize }}</a>
		{% endif %}
	</div>

	<h2 class="offset-2 my-3 font-weight-bold">
		{{ 'general.perfs'|trans({}, 'general')|capitalize}}
	</h2>
	<table class="table table-sm offset-md-2 col-md-8  offset-1 col-10 text-center">
		<thead>
			<tr>
				<th>{{'general.date'|trans({}, 'general')|capitalize}}</th>
				<th>{{'perf.company'|trans({}, 'perf')|capitalize}}</th>
				<th>{{'perf.show.place'|trans({}, 'perf')|capitalize}}</th>
			</tr>
		</thead>
		<tbody class="align-middle">
			{% for performance in eventPerfs %}
				<tr>
					<td>
						<div class="date-infos h-100 colored">
							<p class="mb-0 font-weight-bold">{{ performance.date ? performance.date|format_date('medium')|capitalize}}</p>
							<p>{{ performance.date ? performance.date|format_time('short') : '' }}</p>
						</div>
					</td>
					<td>
						<a class="text-reset" href="{{ path('display_company', {'id': performance.company.id})}}">
							<h4 class=" text-decoration-none font-weight-bold">{{ performance.company }}</h4>
						</a>
					</td>
					<td>
						<p>{{ performance.placeShow|title }}</p>
						<p class="font-italic colored">{{ performance.cityShow }}</p>
					</td>

				</tr>
			{% else %}
				<tr>
					<td colspan="8">{{'general.noRecords'|trans({}, 'general')}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
