{% extends 'front_base.html.twig' %}

{% block title %}
	{{ company.name}}
{% endblock %}


{% block pageTitle %}
	<div class="pageTitleBar">
		<div class="d-flex justify-content-center">
			<p class="mt-3 pageTitle px-2">
				{{ company.name}}
			</p>
		</div>
		<div id="titleLines">
			<hr class="blackline">
			<hr class="redline">
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="col-12 d-flex">
		<aside class="col-2 my-5 border-right border-danger">
			{% if company.isInResidence %}
				<div>
					<h4>{{ 'company.status'|trans({}, 'company')|capitalize}}</h4>
					<p class="ml-3 colored font-italic">
						{{ 'company.isIn.residence'|trans({}, 'company')|capitalize }}
					</p>
				</div>
				<p>
					{{ 'company.inResidence'|trans({}, 'company')|capitalize}}
					{{ company.inResidenceFrom ? company.inResidenceFrom|format_date('medium') : '' }}
					<br>
					{{ 'general.to'|trans({}, 'general')|capitalize}}
					{{ company.inResidenceUntil ? company.inResidenceUntil|format_date('medium'): '' }}</p>
			{% endif %}
			<div>
				<h4>{{ 'company.show.title'|trans({}, 'company')|capitalize }}
					:
				</h4>
				<p class="ml-3">{{ company.showTitle }}</p>
			</div>
			<div>
				<h4>{{ 'company.show.theme'|trans({}, 'company')|capitalize }}
					:</h4>
				<p class="ml-3">{{ company.theme }}</p>
			</div>
			<div>
				<h4>{{'company.show.duration'|trans({}, 'company')|capitalize}}
					:</h4>
				<p class="ml-3">{{ company.duration }}
					{{'general.minutes'|trans({}, 'general') }}</p>
			</div>
			<div>
				<h4>{{'company.show.audience'|trans({}, 'company')|capitalize}}
					:</h4>
				<p class="ml-3">{{ company.audience }}</p>
			</div>
			<div>
				<h4>{{'general.more.infos'|trans({}, 'general')|capitalize}}
					:</h4>
				<p class="ml-3">{{ company.moreInfos|raw }}</p>
			</div>
			{% if company.website != null %}
				<div>
					<h4>{{'general.website'|trans({}, 'general')|capitalize}}
						:</h4>
					<a class="ml-3" href="{{ company.website }}">{{'company.site'|trans({}, 'company')|capitalize }}</a>
				</div>
			{% endif %}

			{% if company.website != null %}
				<div>
					<h4>{{'general.videoLink'|trans({}, 'general')|capitalize}}
						:</h4>
					<a class="ml-3" href="{{ company.videoLink}}">{{'company.video'|trans({}, 'company')|capitalize }}</a>
				</div>
			{% endif %}
		</aside>
		<div class="col-9 flex-column">
			<div class="col-12 mb-5 ">
				<img class="miniImage col-4 mt-5 mx-3 float-left" src="{{ asset('images/uploads/company/' ~ company.image.name) }}">
				<div class="col-12 text-justify my-5 pt-5">{{ company.description|raw }}</div>
			</div>

			<div class="row offset-1 col-11 mt-5 pt-5">
				<h2 class=" ml-5 mb-3 font-weight-bold">{{ 'company.performances'|trans({}, 'company')|capitalize}}
				</h2>
				<table class="table table-sm table-striped table-bordered text-center">
					<thead>
						<tr>
							<th>{{'perf.show.city'|trans({}, 'perf')|capitalize}}</th>
							<th>{{'perf.show.place'|trans({}, 'perf')|capitalize}}</th>
							<th>Date</th>
							<th>{{'perf.show.event'|trans({}, 'perf')|capitalize}}</th>
						</tr>
					</thead>
					<tbody>
						{% for performance in company.performances %}
							<tr>
								<td>{{ performance.cityShow }}</td>
								<td>{{ performance.placeShow }}</td>
								<td>{{ performance.date ? performance.date|date('d-m-Y H:i') : '' }}</td>
								<td>{{ performance.event}}</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="8">{{'general.noRecords'|trans({}, 'general')}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="offset-9 col-4 mt-5 mr-5 text-center ">
					<div class="d-flex justify-content-center ">
						<div class="btn-showView mr-1">
							<a class="badge badge-secondary p-2 " href="{{ path('page_show', {'pageSlug' : 'saison/cies-accueillies'}) }}">{{'general.back'|trans({}, 'general')|capitalize}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
