{% extends 'base.html.twig' %}

{% block title %}{{'company.index'|trans({}, 'company')|title}}{% endblock %}

{% block body %}
<div >
    <h1>{{'company.index'|trans({}, 'company')|title}}</h1>
</div>
    <table class="table table-sm table-striped text-center">
        <thead class="sticky-top thead-dark">
            <tr>
                <th>{{'general.name'|trans({}, 'general')|capitalize}}</th>
                <th>{{'company.show.title'|trans({}, 'company')|capitalize}}</th>
                <th>Description</th>
                <th>Image</th>
                <th>Theme</th>
                <th>{{'company.show.duration'|trans({}, 'company')|capitalize}}</th>
                <th>{{'company.show.audience'|trans({}, 'company')|capitalize}}</th>
                <th>{{'general.more.infos'|trans({}, 'general')|capitalize}}</th>
                <th>{{'company.isIn.diffusion'|trans({}, 'company')|capitalize}}</th>
                <th>{{'company.isIn.creation'|trans({}, 'company')|capitalize}}</th>
                <th>{{'general.website'|trans({}, 'general')|capitalize}}</th>
                <th>{{'general.videoLink'|trans({}, 'general')|capitalize}}</th>
                <th><a href="{{ path('company_new') }}">{{'general.create'|trans({}, 'general')|capitalize}}</a></th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.showTitle}}</td>
                <td >{{ company.description|slice(0,100)}}...</td>
                <td><img class="companyImage" src="{{ asset('images/uploads/company/' ~ company.image.name) }}"></td>
                <td>{{ company.theme}}</td>
                <td>{{ company.duration}}</td>
                <td>{{ company.audience}}</td>
                <td>{{ company.moreInfos}}</td>
                <td>{{ company.isInDiffusion ? '<i class="fas fa-check text-success"></i>' : '<i class="fas fa-times text-danger"></i>' }}</td>
                <td>{{ company.isInCreation ? '<i class="fas fa-check text-success"></i>' : '<i class="fas fa-times text-danger"></i>' }}</td>
                <td>{{ company.website }}</td>
                <td>{{ company.videoLink }}</td>
                <td>
                    <a href="{{ path('company_show', {'id': company.id}) }}">{{'general.show'|trans({}, 'general')|capitalize}}</a>
                    <a href="{{ path('company_edit', {'id': company.id}) }}">{{'general.edit'|trans({}, 'general')|capitalize}}</a>
                    {{ include('company/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">{{'general.noRecords'|trans({}, 'general')|capitalize}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('company_new') }}">{{'general.create'|trans({}, 'general')|capitalize}}</a>
{% endblock %}
