{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>Company</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ company.description }}</td>
            </tr>
            <tr>
                <th>Theme</th>
                <td>{{ company.theme }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ company.duration }}</td>
            </tr>
            <tr>
                <th>Public</th>
                <td>{{ company.audience }}</td>
            </tr>
            <tr>
                <th>Plus d'infos</th>
                <td>{{ company.moreInfos }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img class="companyImage" src="{{ asset('images/uploads/company/' ~ company.image.name) }}"></td>
            </tr>
            <tr>
                <th>IsInDiffusion</th>
                <td>{{ company.isInDiffusion ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsInCreation</th>
                <td>{{ company.isInCreation ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ company.website }}</td>
            </tr>
            <tr>
                <th>VideoLink</th>
                <td>{{ company.videoLink }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('company_index') }}">back to list</a>

    <a href="{{ path('company_edit', {'id': company.id}) }}">edit</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
