<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#"><img class='logo' src="{{asset('images/logo.jpg')}}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav  mr-5 ml-auto">
            <li class="nav-item active">
                <a class="nav-link back-nav-link" href="/admin"><i class="fas fa-1x fa-home"></i></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle back-nav-link" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{'back.sections'|trans({}, 'menu')|capitalize }}
                </a>
                <div class="dropdown-menu mr-3" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/admin/tab/1">{{'association'|trans({}, 'menu')}}</a>
                    <a class="dropdown-item" href="/admin/tab/2">{{'season'|trans({}, 'menu')|capitalize }}</a>
                    <a class="dropdown-item" href="/admin/tab/3">{{'festival'|trans({}, 'menu')|capitalize }}</a>
                    <a class="dropdown-item" href="/admin/tab/4">{{'place'|trans({}, 'menu')|capitalize }}</a>
                    <a class="dropdown-item" href="/admin/tab/5">{{'activities'|trans({}, 'menu')|capitalize }}</a>
                    <a class="dropdown-item" href="/admin/tab/6">{{'rentals'|trans({}, 'menu')|capitalize }}</a>
                    <a class="dropdown-item" href="/admin/tab/7">{{'volunteering'|trans({}, 'menu')|capitalize }}</a>
                    <a class="dropdown-item" href="/admin/tab/8">{{'partners'|trans({}, 'menu')|capitalize }}</a>
                    <a class="dropdown-item" href="/admin/tab/9">{{'support'|trans({}, 'menu')|capitalize }}</a>
                    <a class="dropdown-item" href="/admin/tab/10">{{'contact'|trans({}, 'menu')|capitalize }}</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link back-nav-link" href="/company">{{'back.companies'|trans({}, 'menu')|capitalize }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link back-nav-link" href="/event">{{'back.events'|trans({}, 'menu')|capitalize }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link back-nav-link"
                    href="/performance">{{'back.performances'|trans({}, 'menu')|capitalize }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link back-nav-link" href="/partners">{{'back.partners'|trans({}, 'menu')|capitalize }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link back-nav-link" href="/team">{{'back.team'|trans({}, 'menu')|capitalize }}</a>
            </li>
        </ul>
    </div>
</nav>