{% extends 'base.html.twig' %}

{% block title %}{{ 'perf.edit'|trans({}, 'perf')|title }}{% endblock %}

{% block body %}
<h1>{{ 'perf.edit'|trans({}, 'perf')|title }}</h1>

{{ include('performance/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('performance_index') }}">{{'general.back'|trans({}, 'general')|capitalize}}</a>

{{ include('performance/_delete_form.html.twig') }}
{% endblock %}