{% extends 'base.html.twig' %}

{% block title %}{{'perf.index'|trans({}, 'perf')|title}}{% endblock %}

{% block body %}
{% include('_backMenu.html.twig') %}

<h1>{{'perf.index'|trans({}, 'perf')|title}}</h1>

<table class="table table-sm text-align-center table-striped text-center mb-5 pb-5">
    <thead class="index py-3">
        <tr>
            <th>{{'company.label'|trans({}, 'company')|capitalize}}</th>
            <th>{{'perf.show.city'|trans({}, 'perf')|capitalize}}</th>
            <th>{{'perf.show.place'|trans({}, 'perf')|capitalize}}</th>
            <th>Date</th>
            <th>{{'perf.show.event'|trans({}, 'perf')|capitalize}}</th>
            <th><a href="{{ path('performance_new') }}">{{'general.create'|trans({}, 'general')|capitalize}}</a></th>
        </tr>
    </thead>
    <tbody class="index">
        {% for performance in performances %}
        <tr>
            <td>{{ performance.CompanyName}}</td>
            <td>{{ performance.cityShow }}</td>
            <td>{{ performance.placeShow }}</td>
            <td>{{ performance.date ? performance.date|date('d-m-Y H:i') : '' }}</td>
            <td>{{ performance.event}}</td>
            <td>
                <a class="badge badge-primary my-2 p-2 text-center"
                    href="{{ path('performance_edit', {'id': performance.id}) }}">{{'general.edit'|trans({}, 'general')|capitalize}}</a>
                {{ include('performance/_delete_form.html.twig') }}
            </td>

        </tr>
        {% else %}
        <tr>
            <td colspan="8">{{'general.noRecords'|trans({}, 'general')}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}