{% extends "front_layout.html.twig" %}

{% block title %}
	{{ ('front.' ~ page.tab)|trans({}, 'menu')}}/{{('front.' ~ page.name)|trans({}, 'menu')}}
{% endblock %}

{% block header %}
	{% include( "front_templates/_front_menu.html.twig") %}
{% endblock %}

{% block pageTitle %}
	<div id="pageTitleBar">
		<div class="d-flex justify-content-center">
			<h1 class="mt-3 pageTitle px-4 text-center">
				{{event.name}}
			</h1>
		</div>
		<div class="titleLines">
			<img class="titleBar" src="{{asset('images/title-bar.jpg')}}">
			<div class="text-center">
				<p class="m-0">
					{% if event.startingDate != event.endingDate and event.endingDate is defined %}
						{{'from'|trans({}, 'general')|capitalize}}
						{{event.startingDate|format_date(pattern='d')}}
						{{'to'|trans({}, 'general')}}
						{{event.endingDate|format_date(pattern='d MMMM')|title}}
					</p>
				{% elseif (event.startingDate == event.endingDate or event.endingDate is null) and event.startingDate is defined %}
					<p class="m-0">
						{{event.startingDate|format_date('full')|title}}
					</p>
				{% endif %}
			</div>
		</div>

	</div>
{% endblock %}
