{% block header %}
	<nav class="navbar navbar-expand-md navbar-light">
		<a class="navbar-brand" href="{{path('home')}}"><img class='logo' src="{{asset('images/logo.jpg')}}"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse nav-tabs nav d-md-flex flex-md-column" id="navbarNavAltMarkup" role="tablist">
			<ul class="col-xl-8 col-lg-10 d-flex flex-wrap justify-content-center navbar-nav pr-xl-5 ml-md-auto ml-2">
				<li>
					<a class="nav-link" href="{{path('home')}}" role="link">
						<i class="fas fa-1x fa-home"></i>
					</a>
				</li>
				{% for tab in tabs %}
					{% if tab.pages|length > 1  %}
						<li>
							<a class="nav-item nav-link" href="" id="nav-{{tab.name}}-tab" data-toggle="tab" data-target="#nav-{{tab.name}}" role="tab" aria-controls="nav-{{tab.name}}">{{ tab.name|trans({}, 'menu') }}</a>
						</li>
					{% else %}
						<li>
							{% for page in tab.pages %}
								<a class="nav-link" href="{{ path('page_show', {'pageSlug': page.pageSlug}) }}">{{ tab.name|trans({}, 'menu') }}</a>
							{% endfor %}
						</li>
					{% endif %}
				{% endfor %}
			</ul>
		</div>
	</nav>

	<div class="tab-content" id="nav-tabContent">
		{% for tab in tabs %}
			<div class="tab-pane fade" id="nav-{{tab.name}}" role="tabpanel" aria-labelledby="nav-{{tab.name}}-tab">
				{% for page in tab.pages %}
					<a href="{{ path('page_show', {'pageSlug': page.pageSlug}) }}">{{page.name|trans({}, 'menu')|title}}</a>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
