{% extends 'base.html.twig' %}

{% block title %}{{ 'partner.edit'|trans({}, 'partners')|title }}{% endblock %}

{% block body %}
<h1>{{ 'partner.edit'|trans({}, 'partners')|title }}</h1>

{{ include('partners/_form.html.twig', {'button_label': 'Update'}) }}

<a href="{{ path('partners_index') }}">{{'general.back'|trans({}, 'general')|capitalize}}</a>

{{ include('partners/_delete_form.html.twig') }}
{% endblock %}