{% extends 'base.html.twig' %}

{% block title %}{{'partner.create'|trans({}, 'partners')|title}}{% endblock %}

{% block body %}
<h1>{{'partner.create'|trans({}, 'partners')|title}}</h1>

{{ include('partners/_form.html.twig') }}

<a href="{{ path('partners_index') }}">{{'general.back'|trans({}, 'general')|capitalize}}</a>
{% endblock %}