{% extends "front_templates/page_template.html.twig" %}

{% block body %}
	<div class="container-fluid">

		{% include('/front/_intro_section_template.html.twig') %}

		<div id="partnersLogos" class="d-flex flex-wrap justify-content-around offset-1 col-10 mb-4">
			{% for partner in partners %}
				{% if partner.logo.name %}
					<div class="mb-2 mr-2">
						<img class="partnerLogo" src="{{ asset('images/uploads/partnerLogo/' ~ partner.logo.name) }}" alt="{{partner.name}}">
					</div>
				{% endif %}

			{% endfor %}
		</div>
		<div class="d-flex justify-content-center">
			<h2 class="text-center mb-3 px-2">Nos Producteurs, Nos Distributeurs</h2>
		</div>
		<div class="miniTitleBar">
			<hr class="redline">
		</div>
		<p class="offset-1 col-10">
			{% for partner in partners %}
				{% if partner.type == "prod_dist" %}
					{% if loop.last %}
						{{ partner.name}}
					{% else %}
						{{ partner.name ~ ' /'}}
					{% endif %}
				{% endif %}
			{% endfor %}
		</p>

		<div class="d-flex justify-content-center">
			<h2 class="text-center mb-3 px-2">Les Partenaires</h2>
		</div>
		<div>
			<hr class="redline miniTitleBar">
		</div>
		<p class="offset-1 col-10">
			{% for partner in partners %}
				{% if partner.type == "partners" %}
					{% if loop.last %}
						{{ partner.name}}
					{% else %}
						{{ partner.name ~ ' /'}}
					{% endif %}
				{% endif %}
			{% endfor %}
		</p>

		{% for section in sections %}
			{% if section.name != 'intro' %}
				<article class="p-0 my-5 col-12">
					<div class="d-flex justify-content-center">
						<h2 class="text-center mb-3 px-2">{{section.title}}</h2>
					</div>
					<div>
						<hr class="redline miniTitleBar">
					</div>
					<div class="text-justify pl-3">{{ section.content|raw }}</div>
				</article>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
