{% extends 'back_templates/index_template.html.twig' %}

{% block title %}
	{{'press.index'|trans({}, 'press')|title}}
{% endblock %}

{% block body %}
	<div id="adminPageTitle">
		<h1>
			{{'press.index'|trans({}, 'press')|title}}
		</h1>
	</div>

	<div class="press-index">
		{% if is_granted('ROLE_ADMIN') %}
			<a class="badge badge-primary p-2 offset-1" href="{{ path('press_document_new') }}" title="Ajouter un document">{{'press.create'|trans({}, 'press')|capitalize}}</a>
		{% endif %}

		<div class="d-flex offset-1 mt-5 text-center">
			{% for press_document in press_documents %}
				<div class="d-flex flex-column justify-content-between col-2">
					<div class="fileImageContainer">
						{% if press_document.fileType == 'file' %}
							<img class="fileImage" src="{{ asset('images/icone-dossier.png') }}" alt="icone de dossier">
						{% else %}
							<img class="fileImage img-thumbnail" src="{{ asset('images/uploads/pressDocs/' ~ press_document.document.name) }}" alt="image à télécharger">
						{% endif %}
					</div>
					<p class="text-break">{{ press_document.name|raw }}</p>
					<a class="text-break" href="{{ asset('images/uploads/pressDocs/' ~ press_document.document.name) }}" download title="document à télécharger">{{press_document.document.name}}</a>
					{% if is_granted('ROLE_ADMIN') %}
						{{ include('admin/press_document/_delete_form.html.twig') }}
					{% endif %}
				</div>
			{% else %}
				<p colspan="8">no records found</p>
			{% endfor %}
		</div>
	</div>
{% endblock %}
